<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Nav -->
<div th:replace="header :: header_style"></div>
<div th:replace="header :: header"></div>
<div style="height:130px"></div>
<div  th:text="게시판" style="font-size:30px;display: flex;align-items: center; justify-content: center; background-color:ivory; width:100%; height:130px"></div>

<script th:inline="javascript">
    $(function(){
        var no = $("[name=nowPageNo]").val();
        $("[name=page"+no+"]").css("color", "brown");
    });
    function handleClick(data){
        var no = $("[name=nowPageNo]").val(data);
        document.pageNoHidden.submit();
    }
</script>



<!--테이블 시작 -->
<div style="height:600px;width:100%;">
    <table align="center" style="text-align: center; width:600px; background-color:saddlebrown">
        <tr style="background-color:antiquewhite; width:100%; height:70px">
            <td th:text="번호" style="width:10%"></td>
            <td th:text="제목" style="width:70%"> </td>
            <td th:text="작성자" style="width:20%"> </td>
        </tr>

        <tr th:each="board : ${Boards}" style="background-color:antiquewhite; height:50px">
            <td th:text="${board.boardNo}" style="width:10%"></td>
            <td th:text="${board.title}" style="width:70%"> </td>
            <td th:text="${board.memberName}" style="width:20%"> </td>
        </tr>


    </table>
</div>

<!-- 페이징 처리-->
<div align="center" style="align-content: center;">
    <span style="cursor:pointer" th:each="iteration : ${#numbers.sequence(1, totPage)}" th:onclick="'handleClick(' + ${iteration} + ')'"  th:name="'page'+${iteration}" th:text="'['+${iteration}+']'"></span>
</div><div style="height: 10px"></div>
<div align="center" style="align-content: center;">
    <button th:if="${session.user}" th:text="글쓰기" th:onclick="'window.location.href = \'/board_write\''"> </button>
</div>

<form action="/board" name="pageNoHidden"><input type="hidden" name="nowPageNo" th:value="${nowPageNo}"></form>



</body>

</html>