<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
<style>
    .header_category{
        font-size:40px;
        text-align: center;
    }

</style>




<div>
    <table align="center" width="100%" color="blue" bgcolor="blue">
        <tr height="130px" >
            <td class="header_category" th:text="Home">첫번째칸</td>
            <td class="header_category" th:text="Shop">두번째칸</td>
            <td class="header_category" th:text="Board">세번째칸</td>
            <td class="header_category" th:text="My Page">네번째칸</td>

        </tr>


    </table>
</div>



</body>
</html>