<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Nav-->
<div th:replace="header :: header_style"></div>
<div th:replace="header :: header"></div>
<div style="height:130px"></div>
<!--css -->
<style>
</style>
<script th:inline="javascript">
    function logout(){
        if(confirm("로그아웃 하시겠습니까?")){
            window.location.href = '/mypage_logout';
        }else{return;}

    }
</script>


<div  th:text="|내 정보|" style="font-size:30px;display: flex;align-items: center; justify-content: center; background-color:ivory; width:100%; height:130px"></div>

    <table align="center" border-collapse="collapse" border="1" bordercolor="white" style="width:500px; height:400px; background-color:burlywood; text-align: center;">
        <tr th:if="${session.user.pictureUuidName!=null}"
            style="height:500px;" >
            <td colspan="2" >
                <img width="500px" height="500px" src="/images/files/25852d00-d25b-4ce0-adee-47bac3881f5f.png">
                <div th:text="'/images/files/'+${session.user.pictureUuidName}"></div>
                <img width="500px" height="500px" th:src="'/images/files/'+${session.user.pictureUuidName}" th:onclick="'window.location.href = \'/pictureDown\''">
            </td>
        </tr>
        <tr style="height:100px;" >
            <td style="width:30%; font-family: bold; font-size:20px;">이름</td>
            <td style="width:70%;" th:text="${session.user.memberName}" >내용</td>
        </tr>
        <tr style="height:100px">
            <td style="width:30%; font-family: bold; font-size:20px;">생년월일</td>
            <td style="width:70%" th:text="${session.user.birth}">내용</td>
        </tr>
        <tr style="height:100px">
            <td style="width:30%; font-family: bold; font-size:20px;">폰번호</td>
            <td style="width:70%" th:text="${session.user.phone}">내용</td>
        </tr>
        <tr style="height:100px">
            <td style="width:30%; font-fam  ily: bold; font-size:20px;">주소</td>
            <td style="width:70%" th:text="${session.user.address}">내용</td>
        </tr>
    </table>
<div align="center">
    <button th:text="|비밀번호 변경하기|" th:onclick="'window.location.href = \'/mypage_change\''"></button>
    <button th:text="|로그아웃|" th:onclick="logout()"></button>
    <button th:text="|장바구니|" th:onclick="'window.location.href = \'/mypage_basket\''"></button>
</div>
</body>
</html>