<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.mapper.LoginMapper">
    <insert id="join">
        insert into member(
        id
        ,memberName
        ,birth
        ,phone
        ,address
        ,pw
        )
        values(
        #{id}
        ,#{memberName}
        ,#{birth}
        ,#{phone}
        ,#{address}
        ,#{pw}
        )
    </insert>

    <select id="selectMember" resultType="JoinDTO">
        select * from member
        where   id=#{id}
        and     pw=#{pw}

    </select>

    <update id="updateMember">
        update member set pw = #{pw} where id=#{id}
    </update>

    <select id="selectBasket" resultType="BasketDTO">
        select a.basketNo, a.itemNo, a.memberNo, b.itemName, b.price, b.stock
        from basket a Inner JOIN item b on a.itemNo = b.itemNo
        where a.memberNo = #{memberNo}
    </select>
</mapper>